<!DOCTYPE html>
<html lang="ru">
include templates/head.pug
<body>
include moduls/header.pug
section.surveyor
	.container
		.row
			.title.col-xs-12 Автомобильные перевозки грузов
			.auto__info
				p В последнее время данный вид грузоперевозок становится все более популярным благодаря развитию экономических связей между Россией и странами ЕС.
				p В первую очередь автомобильные перевозки позволяют доставить груз в кратчайшие сроки. Во-вторых - являются одним из самых надежных способов доставки, как стандартных, так и негабаритных грузов.
				p Наша компания осуществляет международные грузоперевозки из стран Европы в Россию наземными видами транспорта.
				p Индивидуальная разработка оптимальной логистической системы маршрута следования позволит снизить затраты на доставку груза из стран Европы в Россию.
				p Наши преимущества:
				ul.col-xs-12
					li партнерская сеть агентов в Европе и РФ
					li перевозки грузовым автотранспортом объемом от 82 куб.м до 150 куб.м
				p перевозка FTL/LTL
include moduls/map.pug
include moduls/footer.pug
include templates/foot.pug