<!DOCTYPE html>
<html lang="ru">
include templates/head.pug
<body>
include moduls/header.pug
section.calculate
	.container
		.row
			.calculate__title Рассчитать стоимость доставки груза из Китая <br> в Москву и Московскую область
			.calculate__form
				.calculate__left.col-xs-12.col-sm-4
					span Объем груза
					.input-group
						input.form-control(type="text", name="amount", aria-describedby="basic-addon2")
						span.input-group-addon#basic-addon2 м<sup>3</sup>
					span Вес груза
					.input-group
						input.form-control(type="text", name="weight", aria-describedby="basic-addon3")
						span.input-group-addon#basic-addon3 кг
					span Расстояние от МКАД до склада выгрузки
					.input-group
						input.form-control(type="text", name="distance", aria-describedby="basic-addon4")
						span.input-group-addon#basic-addon4 км
				.calculate__center.col-xs-12.col-sm-5
					.calculate__center-wrap
						.calculate__center-result
							span $0
				.calculate__right.col-xs-12.col-sm-3
					.calculate__right-btn Отправить заявку
include moduls/map.pug
include moduls/footer.pug
include templates/foot.pug