<!DOCTYPE html>
<html lang="ru">
include templates/head.pug
<body>
include moduls/header.pug
section.slider
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				img(src="img/slide-1.jpg")
				.slider__button Бесплатная консультация
			.swiper-slide
				img(src="img/slide-2.jpg")
				.slider__button Бесплатная консультация
			.swiper-slide
				img(src="img/slide-3.jpg")
				.slider__button Бесплатная консультация
			.swiper-button-next
			.swiper-button-prev
section.services#services
	.container
		.row
			.services__title.col-xs-12 Наши услуги
			ul.services__list.col-xs-12
				li.col-xs-6.col-sm-4.col-md-3.icon1: a(href="#") Таможенное<br>оформление грузов
				li.col-xs-6.col-sm-4.col-md-3.icon2: a(href="#") Контейнерные<br>перевозки грузов
				li.col-xs-6.col-sm-4.col-md-3.icon3: a(href="#") Сборные перевозки<br>грузов
				li.col-xs-6.col-sm-4.col-md-3.icon4: a(href="#") Авиационные перевозки<br>грузов
				li.col-xs-6.col-sm-4.col-md-3.icon5: a(href="#") Железнодорожные<br>перевозки грузов
				li.col-xs-6.col-sm-4.col-md-3.icon6: a(href="#") Автомобильные<br>перевозки грузов
				li.col-xs-6.col-sm-4.col-md-3.icon7: a(href="#") Ваш офис<br>в Китае
				li.col-xs-6.col-sm-4.col-md-3.icon8: a(href="#") Дополнительные<br>услуги
section.background#about
	.background__blur
	.container
		.row
			.background__title.col-xs-12 Главная
			.background__text.col-xs-12
				p.
					Все, кто сталкивался с транспортировкой грузов через границы Российской Федерации, знают о сложностях, возникающих в процессе перевозки. Для того, чтобы вести успешный бизнес, следует четко представлять, что значит таможенное оформление в нашей стране. Законодательством Российской Федерации предусмотрено несколько вариантов таможенного оформления. Оно может осуществляться самим владельцем (получателем груза),либо его может взять на себя фирма, предоставляющая услуги таможенного представителя. Если Вы планируете заниматься таможенным оформлением самостоятельно, то следует помнить о некоторых трудностях, возникающих в процессе оформления документов. Если какие-либо процедуры соблюдены не полностью или имеются неверно заполненные документы,то подобные нарушения могут обернуться не только дополнительными затратами, но и затянувшимся процессом таможенного оформления со всеми вытекающими последствиями для клиента. Чаще всего компании сталкиваются с такими трудностями, после которых желание продолжать работать может попросту пропасть. Успешно избежать подобных проблем помогут вам специалисты нашей компании
				p.
					Мы оказываем комплексные услуги по аутсорсингу внешнеэкономической деятельности (ВЭД), таможенному оформлению, доставке грузов из любой точки мира различными видами транспорта, страхованию и сертификации продукции. Мы организуем поиск необходимого для Вас товара на территории Юго-Восточной Азии, а так же окажем помощь в решении всех сопутствующих вопросов.
				p.
					Мы – команда профессионалов. Мы знаем и понимаем специфику таможенного оформления в нашей стране, мы готовы стать посредником между вами и государственными служащими. Доверяя оформление нам, Вы можете быть уверены, что мы проведем все необходимые действия качественно, быстро и на высоком профессиональном уровне.
				p.
					У нас огромный опыт и хорошо отлаженные схемы работы, которые помогают в таможенном оформлении. Поэтому все процессы, предусмотренные законом, пройдут без особых проблем. Наши клиенты и партнеры уже давно по достоинству оценили качество наших услуг.
include moduls/map.pug
include moduls/footer.pug
include templates/foot.pug