<!DOCTYPE html>
<html lang="ru">
include templates/head.pug
<body>
include moduls/header.pug
section.surveyor
	.container
		.row
			.title.col-xs-12 Сюрвейские услуги
			.surveyor__info
include moduls/map.pug
include moduls/footer.pug
include templates/foot.pug