<!DOCTYPE html>
<html lang="ru">
include templates/head.pug
<body>
include moduls/header.pug
section.to
	.container
		.row
			.title.col-xs-12 Таможенное оформление грузов
			.to__info.col-xs-12
				p Любой товар, пересекающий границу государства, должен пройти необходимые таможенные процедуры. Человеку, который мало знаком с деятельностью таможни, вряд ли могут быть известны все тонкости этой сферы и нюансы постоянно меняющегося законодательства.
				p В каждой стране нормативные акты имеют свои отличительные особенности. Российское законодательство, к сожалению, достаточно запутанно и требует особенного внимания к данному вопросу. Чтобы избежать потери времени, финансов и нервов необходимо оформить все документы правильно и в установленной форме, так как ошибки при оформлении зачастую влекут за собой нежелательные для бизнеса последствия, такие как долнительные задержки, затраты на содержание товара на складе, простои, а так же возможная порча товара при неправильных условиях хранения. Следует помнить так же и об административной ответственности, ведь нарушение таможенного законодательства сурово карается в нашей стране.
				p Наша компания поможет Вам беспрепятственно пройти все этапы таможенного оформления, окажет все необходимые для этого услуги. Наши специалисты гарантируют профессиональный подход и качество предоставляемых услуг. Мы готовы возложить на себя Ваши заботы. Eastern Logistics Solutions всегда к Вашим услугам. 
include moduls/map.pug
include moduls/footer.pug
include templates/foot.pug