<!DOCTYPE html>
<html lang="ru">
include templates/head.pug
<body>
include moduls/header.pug
section.tracking
	.container
		.row
			.title.col-xs-12 Отследить груз
			.tracking__form.col-xs-12.col-md-4
				form(form="role")
					.form-group
						label(for="tracking")
						input(type="text", placeholder="Ваш номер заявки", name="tracking").form-control
					.btn.btn-primary Отправить
include moduls/map.pug
include moduls/footer.pug
include templates/foot.pug