header
	.container
		.row
			.header
				.header__mail
					a(href="mailto:sales@easternlog.com") sales@easternlog.com
					a(href="mailto:info@easternlog.com") info@easternlog.com
				.header__logo
					img(src="img/logo.png")
				.header__phones
					a(href="tel:84951044405") 8 495 104 44 05
					a(href="tel:88007077695") 8 800 707 76 95
			nav(role="navigation").navbar.navbar-default
				.navbar-header
					button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle.collapsed
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					.header__phones.hidden.col-xs-6.hidde-sm.hidden-md.hidden-lg
						a(href="tel:84951044405") 8 495 104 44 05
						a(href="tel:88007077695") 8 800 707 76 95
				.collapse.navbar-collapse.navbar-ex1-collapse
					ul.nav.navbar-nav
						li: a(href="#", onClick="scrollTod('about');") О нас
						li: a(href="#", onClick="scrollTod('services');") Услуги
						li: a(href="#") Сборные грузы
						li: a(href="#") Отследить груз
						li: a(href="#") Отзывы
						li: a(href="#", onClick="scrollTod('contacts');") Контакты

