section.map#contacts
	.wrapper
		.row
			.map__info.col-xs-12.col-md-6.text-center
				.map__info-address
					address г. Москва, Дербеневская набережная, дом 11
					p: a(href="tel:84951044405") 8 495 104 44 05
					p: a(href="tel:88007077695") 8 800 707 76 95
					p: a(href="mailto:sales@easternlog.com") sales@easternlog.com
			.map__map.col-xs-12.col-md-6
				.map__rgba
				.map__btn На карте
				<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4fc6dbfea10d3dc40c22e727e47cd1e6bcbd092f9fe597a7b0a34353258098f0&amp;width=100%25&amp;height=240&amp;lang=ru_RU&amp;scroll=true"></script>
section#map.notShow
	.map__close
	<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4fc6dbfea10d3dc40c22e727e47cd1e6bcbd092f9fe597a7b0a34353258098f0&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>

