section.slider
	.swiper-container
		.swiper-wrapper
			.swiper-slide.slide1
				.slider__h1 Контейнерные перевозки <br><span>грузов</span>
				a(href="calculate.html").slider__button Калькулятор
			.swiper-slide.slide2
				.slider__h1 Калькулятор расчета <br><span>сборных грузов</span>
				a(href="calculate.html").slider__button Калькулятор
			.swiper-slide.slide3
				.slider__h1 Сборные грузы от 50 кг<br><span>из европы и азии</span>
				a(href="calculate.html").slider__button Калькулятор
			.swiper-button-next
			.swiper-button-prev