.calculate {
	&__title {
		text-align: center;
		margin: 50px 0;
	}
	&__left {
		> span {
			color: #ccc;
			.font(14px, 17px);
			margin-top: 15px;
			margin-bottom: 5px;
			display: block;
		}
		.input-group {
			height: 50px;
			input {
				height: 100%;
			}
		}
	}
	&__center {
		&-wrap {
			border-radius: 50%;
			border: 5px solid @yellow;
			height: 250px;
			width: 250px;
			margin: 0 auto;
			position: relative;
		}
		&-result {
			position: absolute;
			top: 50%;
			left: 50%;
			.translate(-50%, -50%);
			width: 100%;
			text-align: center;
			span {
				.font(50px, 53px);
				color: @yellow;
			}
		}
	}
	&__right {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 240px;
		&-btn {
			padding: 10px 20px;
			transition: box-shadow .3s linear;
			color: #000;
			border-radius: 5px;
			background: @yellow;
			cursor: pointer;
			display: inline-block;
			&:hover {
				box-shadow: 0 3px 6px 0 rgba(0,0,0,.5);
			}
		}
	}
}