.header {
	.flex-between;
	padding: 0 20px;
	align-items: center;
	&__mail {
		position: relative;
		padding-left: 40px;
		&:before {
			position: absolute;
			top: 5px;
			left: 0;
			content: '';
			border: 1px solid @yellow;
			height: 16px;
			width: 24px;
			background: url("../img/mail.png") left 50% top 50% / auto auto no-repeat;
			border-radius: 3px;
			min-height: 24px;
		}
		a {
			display: block;
			.font(15px, 18px);
			color: #000;
			text-decoration: underline;
			font-weight: bold;
		}
	}
	&__phones {
		position: relative;
		padding-left: 40px;
		&:before {
			position: absolute;
			top: 2px;
			left: 0;
			content: '';
			border: 1px solid @yellow;
			height: 16px;
			width: 24px;
			background: url("../img/tel.png") left 50% top 50% / auto auto no-repeat;
			border-radius: 3px;
			min-height: 24px;
		}
		a {
			display: block;
			color: #000;
			.font(15px, 18px);
			font-weight: bold;
		}
	}
	&__btn {
		color: #000;
		.font(14px, 37px);
		width: 141px;
		text-align: center;
		border-radius: 30px;
		height: 37px;
		background: url("../img/btn.png") left 50% top 50% / auto auto no-repeat, linear-gradient(#f9d13c, #f9d13c);
	}
}
.navbar {
	background-color: #fff;
	border: none;
	background-image: none;
	box-shadow: none;
	margin-top: 20px;
	&-nav {
		li {
			a {
				.font(16px, 19px);
				color: #000;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	&-header {
		.header__phones {margin: 7px 0 0 20px;}
	}
}
