.background {
	background: url("../img/fon.jpeg") left 50% top 50% / auto auto no-repeat fixed;
	width: 100%;
	position: relative;
	padding-bottom: 30px;
	.container {
		position: relative;
		z-index: 2;
	}
	&__blur {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(239,244,247,0.8);
		z-index: 1;
	}
	&__title {
		text-align: center;
		.font(25px, 28px);
		color: #000;
		font-weight: bold;
		padding: 50px 0 20px;
		margin-bottom: 30px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	&__text {
		p {
			.font(15px, 18px);
			color: #555;
			padding-bottom: 15px;
		}
	}
}
.services {
	&__title {
		text-align: center;
		.font(25px, 28px);
		color: #000;
		font-weight: bold;
		padding: 50px 0 20px;
		margin-bottom: 30px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	&__list {
		li {
			list-style: none;
			background-repeat: no-repeat;
			background-position: top left;
			min-height: 42px;
			padding-left: 70px;
			margin-bottom: 25px;
			&.icon1 {background-image: url(../img/icon1.png)}
			&.icon2 {background-image: url(../img/icon2.png)}
			&.icon3 {background-image: url(../img/icon3.png)}
			&.icon4 {background-image: url(../img/icon4.png)}
			&.icon5 {background-image: url(../img/icon5.png)}
			&.icon6 {background-image: url(../img/icon6.png)}
			&.icon7 {background-image: url(../img/icon7.png)}
			&.icon8 {background-image: url(../img/icon8.png)}
			a {
				.font(16px, 19px);
				color: #000;
			}
		}
	}
}