.map {
	.wrapper {
		width: 100%;
		padding: 0 20px;
	}
	position: relative;
	&__rgba {
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,.86);
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
	}
	&__info {
		min-height: 240px;
		position: relative;
		address {
			.font(14px, 17px);
			color: #000;
			margin-bottom: 15px;
		}
		p {
			margin-bottom: 5px;
			a {
				display: block;
				color: #000;
				.font(15px, 18px);
				font-weight: bold;
			}
		}
		&-address {
			position: absolute;
			top: 50%;
			left: 50%;
			.translate(-50%, -50%);
		}
	}
	&__btn {
		position: absolute;
		top: 50%;
		left: 50%;
		.translate(-50%, -50%);
		width: 100px;
		height: 100px;
		border: 2px solid #ccc;
		color: #333;
		text-align: center;
		font-weight: bold;
		.font(15px, 100px);
		z-index: 2;
		cursor: pointer;
	}
}
#map {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	&.notShow {display: none;}
	&.show {display: block;}
}
.map__close {
	width: 40px;
	height: 40px;
	position: fixed;
	top: 50px;
	right: 50px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
	z-index: 3;
	&:after {
		position: absolute;
		top: 50%;
		left: 50%;
		.translate(-50%, -50%);
		background: url(../img/ico-close-map.png) 0 0 no-repeat;
		width: 13px;
		height: 15px;
		content: '';
	}
}