@media (min-width: 768px) {
	ul.nav.navbar-nav {
		width: 100%;
		.flex-between;
		li {
			&.active {
				a {
					background-image: none;
					box-shadow: none;
					background-color: transparent;
					.font(15px, 18px);
					color: #000;
					&:hover {
						background-color: transparent;
						color: #555;
					}
				}
			}
		}
	}
}
@media (max-width: 880px) {
	.navbar {
		&-nav {
			li {
				a {
					.font(13px, 16px);
					color: #000;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.services__list {padding: 0 20px;}
	.background__text {padding: 0 20px;}
}