* {margin:0; padding:0; outline: none; box-sizing: border-box;}
html, body {position: relative; font-size: 20px; line-height: 23px; color: #323232; font-family: 'PT Sans', sans-serif; margin:0; padding:0; -webkit-text-size-adjust:100%; text-size-adjust:100%; height: 100%; min-height: 100%; min-width: 460px;}
.cl:after {content: '.'; width: 0; height: 0; visibility: hidden; display: block; clear: both; position: relative; font-size: 0px; line-height: 0px;}
.font(@size, @line-height) {
	font-size: @size;
	line-height: @line-height;
}
.translate(@value, @value2) {
    transform: translate(@value, @value2); 
    -webkit-transform: translate(@value, @value2); 
}
.translateRotate(@value, @value2, @value3) {
    transform: translate(@value, @value2) rotate(@value3); 
    -webkit-transform: translate(@value, @value2) rotate(@value3); 
}
.flex-between {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
        -ms-flex-pack: space-between;
            justify-content: space-between;
}
.flex-around {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
        -ms-flex-pack: space-around;
            justify-content: space-around;
}
.flex-start {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: flex-start;
            justify-content: flex-start;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ymaps-2-1-47-controls__toolbar {display: none;}
