
<footer class="footer">
  <div class="container">
    <div class="row">
      <p>
        Copyright © 2009 - 2017	Eastern Logistics<br> Solutions. 
        All Rights Reserved <br>
        Eastern Logistics Solutions
      </p>
    </div>
  </div>
</footer>