
<header>
  <div class="container">
    <div class="row">
      <div class="header">
        <div class="header__mail">
          <a href="mailto:sales@easternlog.com">sales@easternlog.com</a>
          <a href="mailto:info@easternlog.com">info@easternlog.com</a>
        </div>
        <div class="header__logo">
          <img src="img/logo.png"/>
        </div>
        <div class="header__phones">
          <a href="tel:84951044405">8 495 104 44 05</a>
          <a href="tel:88007077695">8 800 707 76 95</a>
        </div>
      </div>
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          <div class="header__phones hidden col-xs-6 hidde-sm hidden-md hidden-lg">
            <a href="tel:84951044405">8 495 104 44 05</a>
            <a href="tel:88007077695">8 800 707 76 95</a>
          </div>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="#" onClick="scrollTod('about');">О нас</a>
            </li>
            <li>
              <a href="#" onClick="scrollTod('services');">Услуги</a>
            </li>
            <li>
              <a href="#">Сборные грузы</a>
            </li>
            <li>
              <a href="#">Отследить груз</a>
            </li>
            <li>
              <a href="#">Отзывы</a>
            </li>
            <li>
              <a href="#" onClick="scrollTod('contacts');">Контакты</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>